body {
  margin-top: 0px;
  background-image: url('../resources/bg-blur.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}   

a:link {
  color: dodgerblue;
}

a:hover {
  color: chartreuse;
}